@page
@model EksamenProjekt2Sem.Pages.Order.CreateOrderModel
@{
}

<form method="post">
    <div class="form-group">
        Here goes anything you want to make the form to create an order.
    </div>
</form>