@page
@model EksamenProjekt2Sem.Pages.Order.CreateOrderModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Order.PickupTime" class="control-label"></label>
        <input asp-for="@Model.Order.PickupTime" class="form-control" />
        <span asp-validation-for="@Model.Order.PickupTime" class="text-danger"></span>
    </div>

    <p>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </p>
</form>