@page
@model EksamenProjekt2Sem.Pages.Order.ReadAllOrdersModel
@{
}

<h1>Alle ordrer</h1>

<form method="post">
    <input type="text" asp-for="SearchString" placeholder="ikke implementeret" />
    <button type="submit">Søg</button>
</form>

@if (Model.Orders != null)
{
    <ul>
        @foreach (var order in Model.Orders)
        {
            @if (order.FoodId != null)
            {
                <p>@order.Food.Ingredients</p>
            }
            @if (order.CampaignOffer != null)
            {
                <p>@order.CampaignOffer.Name</p>
            }
            <p>@order.Quantity</p>
            <p>@order.User</p>
        }
    </ul>
}
else
{
    <p>Ingen ordrer fundet.</p>
}