@page
@model EksamenProjekt2Sem.Pages.CampaignOffer.CreateCampaignOfferModel
@{
}

<form method="post">
    <div class="form-group">
        Here goes anything you want to make the form to create an offer.
    </div>
</form>