@page
@model EksamenProjekt2Sem.Pages.CampaignOffer.DeleteCampaignOfferModel
@{
}

<h1>Slet</h1>
<div class="alert alert-danger">
    <h4>Er du sikker på, at du vil slette? @Model.CampaignOffer.Name</h4>
    <p>
        <strong>Navn på kampagnen:</strong> @Model.CampaignOffer.Name
    </p>
    <p>
        <strong>Kampagne beskrivelse:</strong> @Model.CampaignOffer.ImageLink
    </p>
    <form method="post">
        <input type="hidden" asp-for="CampaignOffer.Id" />
        <button type="submit" class="btn btn-danger">Slet</button>
        <a asp-page="/CampaignOffer/ReadAllCampaignOffers" class="btn btn-secondary">Annuller</a>
    </form>
</div>
