@page
@model EksamenProjekt2Sem.Pages.CampaignOffer.ReadAllCampaignOffersModel
@{
    // Have not touched ReadAll, as it takes a lot and I don't want to have to redo it.
}

<h1>CampaignOffers</h1>

<div>
    <h2>Here goes setup for look of campaignoffers</h2>
</div>