@page
@model EksamenProjekt2Sem.Pages.Food.CreateFoodModel
@{
}

<form method="post">
    <div class="form-group">
        Here goes anything you want to make the form to create food.
    </div>
</form>