@page
@model EksamenProjekt2Sem.Pages.Food.ReadAllFoodModel
@{
    // Have not touched ReadAll, as it takes a lot and I don't want to have to redo it.

}
<h1>Food</h1>

<div>
    <h2>Here goes setup for look of foods</h2>
</div>