@page
@model EksamenProjekt2Sem.Pages.User.CreateUserModel
@{
}

<form method="post">
    <div class="form-group">
        Here goes anything you want to make the form to create a user.
    </div>
</form>